/*
*
*
*
*
*					PASOS
*
*
*
*
*/

.container--pasos{
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
	color:white;
	padding:1.5em;
	width:100%;
	position:relative;
	top:0;

	h2{
		margin-top: 0;
		color:white;
		text-align: center;
	}
	h5{
		text-align: center;
		color:white;
	}
	p{
		text-align: center;
	}

	&__5{

		h2{
			font-weight: 300;
			font-size: 1.6em;
			color:#7d7d7d;
			background: #ffffff;
			padding: .5em 1em;
			margin-top: 1em;

			@include desde(tablet) {
				font-size: 2.5rem;
			}
			@include desde(web) {
				background: #eee;
			}
		}
	}

	&__6{
		display: flex;
		flex-flow: row wrap;
		width: 100%;
		justify-content: space-around;
		align-items:flex-start;

		.parrafo{
			margin-top:.6em;
			width: 100%;
			padding: 0 1em;
			p{
				text-align: left;
				color:#7d7d7d;
			}
		}
	}

	@include desde(web) {
			top:-4em;

			&__6{

				.parrafo{
					max-width: 45%;
					padding:0;
				}
			}
	}
	
	&--flex{
		
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		justify-content: space-around;

		.container-img-circular{
			width: 250px;
			height: 250px;
			background:white;
			display: flex;
			justify-content: center;
			align-items:center;
			flex-flow:column nowrap;
		}
		.img-circular{
			width: 0px;
			height: 0px;
			border-radius:50%;
			border: 3px solid red;
			background-position: 50%;
		}

		&__1,
		&__2,
		&__3,
		&__4{

			display: flex;
			flex-flow: column nowrap;
			align-items: center;

			h2{
				padding-top:.7em;
				color:#7d7d7d;
				font-weight: 600;
			}
		}

		&__1{
			.img-circular{
				background-size: 100%;
			}
		}
		&__2{
			.img-circular{
				background-size: 155%;
			}
		}
		&__3{
			.img-circular{
				background-size: 122%;
				background-position: 20%;
			}
		}
		&__4{
			.img-circular{
				background-position: 30% 100%;
			}
		}

		@include desde(tablet) {
			flex-flow:row wrap;


			&__1,
			&__2,
			&__3,
			&__4{

				min-width: 250px;
				width: 25%;
			}
			

		}
	}

}

/*
*
*
*
*
*					FIN DE PASOS
*
*
*
*
*/

/*
*
*
*
*
*					INFO
*
*
*
*
*/


.container--info{
	display:flex;
	width:100%;
	justify-content:center;
	flex-flow:column nowrap;
	align-items: center;
	padding:1em;
	position:relative;
	background: linear-gradient(to top, rgba(211,72,190,1) 0%, rgba(211,72,190,1) 63%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 66%, rgba(237,20,93,1) 0%, rgba(237,20,93,1) 100%);
	&__nicotina{
		h2{
			color:#fff;
			text-align: center;
			font-size: 1.5em;
			margin: 0 0 .5em 0;
		}
		p{
			color: white;
		}
		.botonPlus{
			font-size: 3rem;
			background:white;
			width: 70px;
			height: 70px;
			border-radius:50%;
			transform: rotate(45deg);
			display: flex;
			justify-content: center;
			align-items:center;
			position:relative;
			left:35%;
			color: #e5536d;
		}
	}
	@include desde(movil) {
		background: linear-gradient(to top, rgba(211,72,190,1) 0%, rgba(211,72,190,1) 71%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 73%, rgba(237,20,93,1) 0%, rgba(237,20,93,1) 100%);
	}
	@include desde(tablet) {

		flex-flow: row nowrap;
		justify-content: space-between;
		align-items:flex-start;
		padding:1em 1.5em;
		background: linear-gradient(to top, rgba(211,72,190,1) 0%, rgba(211,72,190,1) 49%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 53%, rgba(237,20,93,1) 0%, rgba(237,20,93,1) 100%);

		&__nicotina,
		&__figure{
			width: 45%;

			.botonPlus{
				top:-.2em;
				left: 7em;
			}

			h2{
				text-align: left;
			}
		}
		&__figure{
			img{
				float:right;
			}
		}
	}
	@include desde(web) {
		&__nicotina{
			.botonPlus{
				top:0;
			}
		}
	}
}

/*
*
*
*
*
*					FIN DE INFO
*
*
*
*
*/
/*
*
*
*
*
*					TABLA
*
*
*
*
*/
.container--tabla{
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
	width:100%;
	position:relative;
	margin: 3em 0;

	.container-imagen{
		position:relative;
		overflow: hidden;
		width: 100%;

		@include desde(web) {
			width: auto;
		}

		.imagen1{
			position:relative;
			right: 0;
			left: 5000px;
			margin:0 auto;
		}
		.imagen2{
			position:absolute;
			right: 0;
			left: -5000px;
			margin: 0 auto;
			top:0;
		}
		.imagen3{
			position:absolute;
			top:-500em;
		}
	}
}



/*
*
*
*
*
*					TESTIMONIOS
*
*
*
*
*/
.container--testimonios{
	width:100%;
	display:flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	align-content:center;
	background: #e1e1e1;
	color:white;
	padding:1.5em;

	h2{
		font-weight: 300;
		color:#7d7d7d;
		padding: 0.5em 1em;
		font-size: 2.5rem;
		background:#fff;

		@include desde(tablet) {

			position:relative;
			top:-1.6em;
			margin: 0 auto;
		}
	}
	h4{
		max-width: 80%;
	}

	&__1,
	&__2{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items:strech;
		padding:0 2em ;
		background-size:5%;
		background-repeat: no-repeat;

		p{
			margin: 1em;
			max-width: 700px;
			background: #d7d7d7;
			align-self:strech;
			padding:.8em;
			color:black;

		}
	}

	&__1--img{
		margin: 1em;
	    min-width: 250px;
	    min-height: 200px;
	    background-repeat: no-repeat;
	    border: 2px solid #c6c4c4; 
	    background-size: auto 100% ;
	    background-position: 50%;
	    background-image: url(../img/testimonio1.jpg);
		
	}

	&__2--img{
		margin: 1em;
	    min-width: 250px;
	    min-height: 200px;
	    background-repeat: no-repeat;
	    border: 2px solid #c6c4c4; 
	    background-size: auto 100%;
	  	background-position: 50%;
		background-image: url(../img/testimonio2.jpg);
	}
}

/*
*
*
*
*
*					FORMULARIO-FOOTER
*
*
*
*
*/
.container--formularioFooter{
	display:flex;
	width:100%;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
	background:#e5536d;

	h2{
		color:white;
		margin-top: 2em;
		margin-bottom: 0;
		font-weight: 600;
		font-size: 1.5em;
		text-align: center;
	}

	h3{
		color:white;
		font-weight: 300;
		margin-top: .5em;
	}
	p{
		color:white;
		padding-bottom: 2em;
		font-size: .9em;
		width: 80%;
		text-align: center;
	}

	@include desde(tablet) {
		h2{
			font-size: 2rem;
		}
		h3{
			font-size: 2.5rem;
		}
		p{
			font-size: 1.2em;
		}
	}
	.form{
		width: 95%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items:center;
		


		.formulario{
		display: flex;
		justify-content: space-around;
		align-items:center;
		flex-flow: column nowrap;
		width: 80%;
		

		@include desde(tablet) {
			flex-flow: row nowrap;
			input{
				margin: 1em;
			}
		}
			input{
				width: 100%;
				padding:1em;
				border-radius:10px;
				border:none;
				margin: .5em;

				&:focus{
					box-shadow: 2px 2px 25px lightblue, -2px -2px 25px lightblue;
				}
			}
		}

		input[type=submit]{
			padding:.7em;
			width: 80%;
			border-radius:10px;
			background:#b32b9e;
			color:white;
			border:none;
			margin:2rem 0;
			font-weight: 300;
			font-size: 1.5em;
			box-shadow: inset 0 0 0 #a9db5d,
						inset 0 0 0 #a9db5d;
			transition: all .4s;

			&:hover{
				box-shadow: inset 0 50px 0 #a9db5d,
							inset 0 -50px 0 #a9db5d;
				color:black;
			}
			@include desde(tablet) {
				width: 30%;
			}
		}
	}
	
}





/*
*
*
*
*
*					FOOTER
*
*
*
*
*/
footer{
	width:100%;
	background:#d7d7d7;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow:column nowrap;
}
.footer{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow:column nowrap;
	width:100%;
	text-align:center;
	padding:2em;

	p{
		width: 100%;
		color: black;

	}
	@include desde(tablet) {
		flex-flow: row nowrap;
		max-width: 1200px;

		p{
			width: 85%;
			text-align: center;
			padding-right:7em;
		}
	}
}

.aqui{
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
}
.expecial{
	color:darken(green, 5%);
	font-size:.8em;

}